.activity {
  position: absolute;
  width: 100%;
  height: 100%;
  align-content: center;
  overflow: scroll;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	margin: 8px;
	padding: 0.3cm;
	background-color: #fefefe;
	border-radius: 10px;
}

.close {
	float: right;
	font-weight: bold;
	font-size: 0.7cm;
	cursor: pointer;
}
